{% extends 'base.html' %}
{% block content %}
 
 {% if files %}
        <div class="images">
            {% for file in files %}
                <div class="card">
                    <div class="card-img">
                        <img src="{{url_for('ui.upload',filename=file.name)}}" alt="" >
                    </div>
                    <div class="card-info">
                        <p><i class="fas fa-file"></i> {{file.name}}</p>
                        <br>
                        <p><i class="fas fa-calendar    "></i> Added :{{file.date_added}}</p>
                        <br>
                        <p> <i class="fas fa-stethoscope    "></i> Predictions: {{file.predictions}}</p>
                        <br>
                        <p> <i class="fas fa-book    "></i> Predicted as : {{file.predicted_class}}</p>
                        <br>
                        <p></p>
                    </div>
                </div>
            {% endfor %}
        </div>
  {% else %}
        <div class="noimages">
            <center>
                <h1>There are no images yet.</h1>
            </center>
        </div>
 {% endif %}
     
{% endblock content %}
    