{% extends 'base.html' %}
{% block content %}

 {% if files %}
        <div class="images">
            {% for file in files %}
                <div class="card">
                    <div class="card-img">
                        <img src="{{url_for('ui.upload',filename=file.name)}}" alt="" >
                    </div>
                    <div class="card-info">
                        <p><i class="fas fa-file"></i> {{file.name}}</p>
                        <br>
                        <p><i class="fas fa-calendar    "></i> {{file.date_added.ctime()}}</p>
                        <br>
                        <p> <i class="fas fa-stethoscope    "></i> Covid 19 Score: <span class="red">{{file.covid_pred_score}}</span></p>
                        <br>
                        <p> <i class="fas fa-book    "></i> Pneumonia score :<span class="red"> {{file.pneu_pred_score}}</span></p>
                        <br>
                        <p><a href="/details/{{file.id}}">Details</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
  {% else %}
        <div class="noimages">
            <center>
                <h1>There are no images yet.</h1>
            </center>
        </div>
 {% endif %}

    
