* {
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'PT Sans Narrow', sans-ser

}
html{
  background-color:darkslategray;
}
a{
    text-decoration: none;
}
.nav-bar{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}
nav{
    background-color: rgb(21, 44, 44);
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    color: white;
   
}
nav a{
    color: white;
}
.title{
    text-align: center;
    color: white;
    padding: 20px;
}
.form {
  width: 45%;
  padding: 10px;
  margin-top: 20px;
  margin: auto;


}
.form-group{
    padding: 5px;
}
.form-control {
  width: 90%;
  border: none;
  padding: 10px;
}
#file-input {
  display: none;
}
.dropzone{
  position: relative;
  top: 100px;
}
.upload {
  color: white;
  background-color: dodgerblue;
  padding: 10px;
  border: none;
  transition: all 1.01s;
}
.upload:hover{
    color: dodgerblue;
    background-color: white;
    border: 1px solid dodgerblue;
}
.message{
  padding: 20px;
  color: darkgreen;
  margin: auto;
  border-radius: 7px;
  background-color: lightgreen;
  margin-bottom: 20px;
  display: flex;
  width: 40%;
}

.loading{
  text-align: center;
  display: none;
}
.images{
  padding:2%;
  position: relative;
  top: 100px;
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 25%;
  overflow: hidden;
  background-color: rgb(21, 44, 44);
  margin: 20px;
  height: 400px;
  color: white;
}
.card-img{
  height: 200px;
  overflow: hidden;
  margin: auto;

}
.card-img img{
  width: 100%;
  transition: all ease-in-out 0.5s;

}
.card-info{
  padding: 20px;
}

.card-img img:hover{
  transform:scale(1.1);
}
@media(max-width:600px){
  .nav{
    flex-direction: column;
  }
  .form{
    width: 80%;
  }
  .images{
    display: block;
    padding: 0;
  }
  .card{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    
  }
}